<!DOCTYPE html>
<html>
<head>
    <title>QR Codes</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .qr-code {
            margin: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="qr-code">
            <img src="data:image/png;base64,{{ qr_code_image_base64 }}" alt="QR Code"/>
            <h2>{{qr_payload}} </h2>
        </div>
    </div>
</body>
</html>

